<div class="login-page">
  <div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" formControlName="mobileNumber" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
        <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
          <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
          <div *ngIf="f.mobileNumber.errors.pattern">Mobile Number must be a valid</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input id="password-input" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <span class="input-group-text">
          <i class="fa" [ngClass]="{'fa-eye': !fieldTextType,'fa-eye-slash': fieldTextType}"
            (click)="toggleFieldTextType()"></i>
        </span>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.pattern">Password must be a 8 character 1 uppercase 1 lowercase 1 number1 </div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input id="password-input" [type]="fieldTextType1 ? 'text' : 'password'" formControlName="confirmPassword"
          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <span class="input-group-text">
          <i class="fa" [ngClass]="{'fa-eye': !fieldTextType1,'fa-eye-slash': fieldTextType1}"
            (click)="toggleFieldTextType1()"></i>
        </span>
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
      </div>
    </form>
  </div>
</div>
